.jd__open-list {
  clear: both;
}

.jd_open-list-item {
  padding: 3px 6px;
  display: inline-block;
  border-radius: 3px;
  color: white;
  margin-right: 2px;
  margin-top: 2px;
  cursor: pointer;
}

.jd__good {
  background: #5ac12c;
}

.jd__caution {
  background: #c85400;
}

.jd__danger {
  background: #f8091f;
}

.jd_open-list-user {
  /*min-width: 100px;*/
  display: inline-block;
  text-align: right;
  margin-right: 5px;
}

.jd_open-list-count-good {
  color: green;
}
.jd_open-list-count-caution {
  color: orange;
}
.jd_open-list-count-danger {
  color: red;
}
